.main-wrapper {
  margin-left: 240px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Space below fixed header */
.main-content {
  padding: 30px 40px;
  margin-top: 70px;
}

/* Mobile Fix */
@media (max-width: 768px) {
  .main-wrapper {
    margin-left: 0;
  }
}